# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual environments
env/
venv/
.venv/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# .env file (for environment variables)
.env
